name: Deploy SMPLFY Core Plugin via SFTP

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: FTP Deploy
        uses: SamKirkland/FTP-Deploy-Action@4.3.1
        with:
          server: ftp.sblik.com
          username: ${{ secrets.FTP_USER }}   # ferinmtk@sblik.com
          password: ${{ secrets.FTP_PASS }}
          port: 21
          protocol: ftp
          local-dir: ./smplfy-core
          server-dir: /public_html/wp-content/plugins/smplfy-core-plugin/
